Repository Rubyrubylai/nx-integrated: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-service-workflow, run-client-workflow

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: $CIRCLE_BRANCH
          mapping: |
            apps/server/.* run-service-workflow true
            apps/client/.* run-client-workflow true
          config-path: .circleci/workflows.yml

fix ci
  .circleci/workflows.yml
Due: none

test ci
  .circleci/config.yml
Due: none

update ci parameter
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

fix parameter
  .circleci/workflows.yml
Due: none

test base-revision
  .circleci/config.yml
Due: none

test when server change
  apps/server/src/payments/payments.resolver.ts
Due: run-service-workflow

test when config change
  .circleci/config.yml
Due: none

try base revision
  .circleci/config.yml
Due: none

test dynamic workflow
  .circleci/config.yml
Due: none

test
  .circleci/config.yml
Due: none

add env in ci
  .circleci/config.yml
Due: none

Test for PR
  .circleci/config.yml
Due: none

Test if dev run
  apps/client/src/components/HelloWorld.vue
  apps/server/src/payments/payments.resolver.ts
Due: run-service-workflow, run-client-workflow

Only sever change
  apps/server/src/payments/payments.resolver.ts
Due: run-service-workflow

Only client change
  apps/client/src/components/HelloWorld.vue
Due: run-client-workflow

server change
  apps/server/src/payments/payments.resolver.ts
Due: run-service-workflow

client change
  apps/client/src/components/HelloWorld.vue
Due: run-client-workflow

test
  .circleci/workflows.yml
  apps/server/src/payments/payments.resolver.ts
Due: run-service-workflow

set branch env
  .circleci/workflows.yml
Due: none

test for pr
  .circleci/workflows.yml
  apps/server/src/payments/payments.resolver.ts
Due: run-service-workflow

test develop merge
  .circleci/workflows.yml
  apps/server/src/payments/payments.service.ts
Due: run-service-workflow

echo CIRCLE_PULL_REQUEST
  .circleci/workflows.yml
Due: none

for dev to test pr
  .circleci/workflows.yml
Due: none

test dev merge with fixed main-branch name
  .circleci/workflows.yml
Due: none

Add GITHUB_PR_BASE_BRANCH for pr
  .circleci/workflows.yml
Due: none

Add pr in workflow
  .circleci/workflows.yml
Due: none

use parameter
  .circleci/workflows.yml
Due: none

Add dynamic parameter
  .circleci/workflows.yml
Due: none

echo pipeline branch
  .circleci/workflows.yml
Due: none

test pull_request condition
  .circleci/workflows.yml
Due: none

Try build only PR
  .circleci/workflows.yml
  apps/server/src/payments/payments.resolver.ts
Due: run-service-workflow

Diable build only PR
  .circleci/workflows.yml
  apps/server/src/payments/payments.resolver.ts
Due: run-service-workflow

為什麼設置是常數時，base 和 head 的 sha 值會不同
  .circleci/workflows.yml
Due: none

根據 pull request 或 push，動態設置 main-branch-name
  .circleci/workflows.yml
Due: none
